@import url(/css/var.css);
@import url(/css/border_shadow_vars.css);
@import url(/css/nav.css);
@import url(/css/typography.css);
@import url(/design/NavIcon.css);
@import url(/design/CompGraph.css);
@import url(/design/layout.css);

/**
 * Minimal Reset
 */
body {
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1 {
	background: var(--background);
}
