@import url(/var.css);
@import url(/border_shadow_vars.css);
@import url(/nav.css);
@import url(/typography.css);
@import url(/design/NavIcon.css);
@import url(/design/CompGraph.css);

/**
 * Minimal Reset
 */
body {
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1 {
	background: var(--background);
}
