@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

.title {
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	/* identical to box height, or 112% */
	text-align: center;
	text-transform: uppercase;
	color: var(--color-3-100);
}

.body__large {
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */
	text-align: center;
	color: var(--color-3-100);
}

.body__small {
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	/* identical to box height, or 143% */
	text-align: center;
	color: var(--color-3-100);
}

.headline__uppercase {
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height, or 129% */
	text-transform: uppercase;
	color: var(--color-3-100);
}

.headline {
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	/* identical to box height, or 114% */
	color: var(--color-3-100);
}

.label-text {
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	/* identical to box height, or 133% */
	color: var(--color-3-200);
	/* color: red; */
}
