.buddyboxwrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.buddyboxwrapper__buddybox {
	background-color: white;
	width: 315px;
	height: 58px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--color-1);
	border-radius: 1px;

	color: var(--denim-200);

	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
}

.yourcodebuddyfortoday {
	width: 189px;
	height: 16px;
	top: 91px;
	left: 30px;

	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	/* identical to box height, or 150% */

	text-align: center;

	/* denim/denim-100 */

	color: var(--denim-100);
}
